
function formatMouth(data){
  var monthString = data.toString().substring(0,2)
  var dayString = data.toString().substring(2,4)
  if(monthString[0]==='0'){ monthString = monthString[1]}
  if(dayString[0]==='0'){ dayString = dayString[1]}
  return monthString+'月'+dayString+'日'
}
function subTime(time){
  return time.substring(11,16)
}
module.exports = {
  subTime: subTime,
  formatMouth: formatMouth
}
