function formatMouth(data){
  var monthString = data.toString().substring(0,2)
  var dayString = data.toString().substring(2,4)
  if(monthString[0]==='0'){ monthString = monthString[1]}
  if(dayString[0]==='0'){ dayString = dayString[1]}
  return monthString+'月'+dayString+'日'
}
function dateFormat(date, format) {
  var time = getDate(date)
  var hour = time.getHours()+''
  var min = time.getMinutes()+''
  if(hour.length===1){
    hour =  '0'+hour
  }
  if (min.length === 1) {
    min = '0' + min
  }
  return hour + ':' + min
}
module.exports = {
  dateFormat: dateFormat,
  formatMouth: formatMouth
}
